{% extends 'base.html' %} {% block content %}
<div class="col">
  <div class="row">Username: <i>{{profile.username}}</i></div>
  <div class="row">Email Address: <i>{{user.email}}</i></div>
  <div class="row">
    Name:<i> {{profile.first_name}} {{profile.last_name}}</i>
  </div>
  {% if profile.org_key %}
  <div class="row">Org: <i>{{profile.org_key.org_name}}</i></div>
  {% endif %}
  <div class="row">DoB: <i>{{profile.dob}}</i></div>
  Available University: ___ {% comment %} {% for organization in
  organization_list %} {{organization.org_name}}<br />

  {%endfor%} {% endcomment %} {%include "accounts/list.html"%}
</div>
{% endblock content %}
