{% extends 'base.html' %}
<!-- adding the base.html and also nav.html to the create.html/..etc pages -->
{% block content %}
<!-- Here is an important difference between the model fields and form fields.

Model fields know how to represent themselves in the database whereas form fields do not. -->
<!-- <form action="." method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Create"/>

</form> -->
<!-- ------------------------------------TESTING----------------------------------------- -->
<h2>Create your Project</h2><br>

    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <input type="submit" name="your_name" value="Submit It!!" />
    </form>

    <!-- ------------------------------------------------------------------------------------ -->
    <!-- <form action="." method="POST"> {% csrf_token %}

    <input type="text" name = "title" placeholder="Project Title">
    <input type="submit" value="Create" />


</form> -->


    {% endblock %}
  </h1>
</h1>
