{% extends 'base.html' %}
<!-- adding the base.html and also nav.html to the create.html/..etc pages -->
{% block content %}

<form method="POST">
    <input type="text" name = "title" placeholder="Project Title">
    <input type="submit" value="Create" />


</form>

<!-- 
    <form method="POST"> {% csrf_token %}
    {{ form.as_p }} 
    
        It is a biult-in method uses the form 
        that we are passing in context into a HMTL form 
        rendered out with our para tag
   

    <input type="submit" value='Create' />
</form> -->



{% endblock %}
